.frame {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.top-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 10vh;
}

.middle-frames {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* border: 1px solid #333; */
}

.left-frame {
  width: 10%;
  display: flex;
  flex-direction: column;

  /* border: 1px solid cyan; */
}

.right-frame {
  width: 10%;
  display: flex;
  flex-direction: column;

  /* border: 1px solid orangered; */
}

.bottom-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.squares {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 12%;
  height: 100%;
  background: #f5f5f5;
  border-right: 1px solid #777;
  /* border-radius: 0 0 7px 7px; */
  color: #333;
}

.first-square {
  background: rgba(0, 0, 255, 0.25);
  border: 1px solid #777;
}

.squares:last-child {
  border-right: 0 solid #777;
}

.squares-side {
  width: 99%;
  height: 20%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #f5f5f5;
  border-top: 1px solid #777;

  /* border: 3px solid red; */
  color: #333;
  padding-top: 4px;
}

.square-top {
  border-bottom: 1px solid #777;
  border-radius: 0 0 7px 7px;
}

.square-bottom {
  border-top: 1px solid #777;
  border-radius: 7px 7px 0 0;
}

.squares-lside {
  border-right: 1px solid #777;
  border-radius: 0 7px 7px 0;
}

.squares-rside {
  border-left: 1px solid #777;
  border-radius: 7px 0 0 7px;
}

.squares-side p {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  width: 90%;

  margin: auto;
  margin-top: 4px;
  margin-left: 4px;

  border: 1px solid #333;
}

.squares-side h4 {
  text-align: center;
  margin: 4px;

  /* border: 1px solid orangered; */
}

.first-squares {
  width: 12%;
  height: 100%;

  background: rgba(106, 90, 205, 0.7);
  border-right: 1px solid #777;
  color: #333;
}

.first-squares-pone {
  display: flex;
  justify-content: start;
  margin: 4px;

  /* border: 1px solid #000; */
}

.first-squares-ptwo {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
  font-weight: 600;
  color: #f5f5f5;

  margin-top: 25%;

  /* border: 1px solid #000; */
}

.caseNumber {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  margin: 4px;
  /* border: 1px solid #333; */
}

.squares h4 {
  display: flex;
  align-items: center;
  justify-content: center;

  text-wrap: nowrap;
  text-align: justify;
  /* border: 1px solid #333; */
}

/*Cards*/
.container-cards {  
  display: flex;
  width: 100%;
  height: 100%;
}

/* bg-img */
.div-bgImg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: #F2CEC0;

  z-index: -10;
}

.div-bgImg img {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  object-fit: cover;
}

/* number of laps */
.number-laps {
  position: absolute;
  top: 15%;
  left: 50%;

  width: auto;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.number-laps p {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  margin: auto;
}

.cards-box {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.cards-box-left {
  align-items: start;

  /* border: 1px dashed orange; */
}

.cards-box-right {
  align-items: end;

  /* border: 1px dashed orange; */
}

.card {
  width: 200px;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Courier New', Courier, monospace;
  text-wrap: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px #333;
  
  background: linear-gradient(30deg, rgba(17, 83, 72, 0.5) 10%, rgba(17, 83, 72, 1) 90%);
  border: none;

  box-shadow: 0 0 10px #777;
}

.card-one {
  border-radius: 0 0 7px 0;
}

.card-two {
  border-radius: 0 7px 0 0;
}

.card-three {
  border-radius: 0 0 0 7px;
}

.card-four {
  border-radius: 7px 0 0 0;
}

/*main div for dice*/
.div-dice {
  width: 400px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* border: 3px dashed purple; */
}

/* div design logo */
.div-jeudesociete {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;

  /* border: 3px dashed orange; */
}

.div-jeudesociete h2 {
  font-size: 2rem;
  text-shadow: 1px 1px 2px #333;
  color: #f5f5f5;
  margin: auto;
}

.div-monecopote {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  
  /* border: 3px dashed orange; */
}

.div-monecopote h2 {
  font-size: 2rem;
  text-shadow: 1px 1px 2px #333;
  color: #f5f5f5;
  margin: auto;
}

/* img logo */
.mascotte-img {
  width: 50%;
  height: 50%;
  margin-bottom: 15%;
  margin-left: 25%;
  
  /* border: 1px solid grey; */
}

.myecobestfriend-img {
  width: 50%;
  height: 50%;
  margin-bottom: 15%;
  margin-right: 25%;

  /* border: 1px solid grey; */
}

/* colors special cases */
.sanction-color {
  background: rgb(0, 128, 0);
  color: #f5f5f5;
  opacity: 0.8;
}

.action-color {
  background: green;
  color: #f5f5f5;
  opacity: 0.8;
}

.quiz-color {
  background: green;
  color: #f5f5f5;
  opacity: 0.8;
}

.defi-color {
  background: green;
  color: #f5f5f5;
  opacity: 0.8;
}

.players-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid #777;
}

.span-pawn {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #333;
  border-radius: 100%;
  box-shadow: 5px 5px 5px -2px #333;
  color: #333;
}
