.dice-gif {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    border-radius: 7px;
}

.dice {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border: 2px solid #333;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}

.dice-container {
    width: 100%;
    /* width: 120px;
    height: 120px; */
    border: 2px solid #333;
    /* border: 5px solid violet; */
}

.dice-indicator {
    position: absolute;
    top: 20%;
    width: 400px;

    /* border: 1px solid violet; */
}

.dice-indicator p {
    font-size: 2rem;
    font-weight: 600;
}