.audio-container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;
    z-index: 130;
}

.audio-display {
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease-in-out;
    transform: translateY(0px); 
}

.audio-hide {
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease-in-out;
    transform: translateY(50px);
}

.div-audiop p {
    margin: auto;
    margin-bottom: 10px;
}

.box-params {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #333;
    border-radius: 7px 7px 0 0;
    padding: 10px;
}

.params {
    display: flex;
    align-items: center;
    justify-content: center;
}

.params span {
    margin: 0 5px;
}

.params span:hover {
    color: dimgrey;
}

.params span:active {
    color: lightgreen;
}

.params p {
    margin: 0 5px;
}