.card-displayer {
    position: absolute;
    top: 20%;
    right: 25%;
    bottom: 20%;
    left: 25%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    background: rgba(0,0,0, 1);
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 50px rgba(17, 83, 72, 0.5);

    color: #fff;

    margin: auto;
    z-index: 50;
    /* border: 1px solid yellow; */
}

.card-hidden {
    display: none;
}

.para-box-card {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    font-size: 1.2rem;
    /* border: 1px solid red; */
}

.para-box-card div {
    display: flex;
    /* width: 100%; */
    height: 75px;
    margin: auto;
    /* border: 1px solid violet; */
}

.para-box-card div p {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: auto;

    margin: 10px;
   /*  border: 1px solid lime; */
}

.div-card-item {
    width: 95%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
}

.p-card-first {
    font-size: 1.2rem;
    color: #333;
    padding: 10px 20px;
    /* border: 1px solid cyan; */
}

.p-card-second {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: #333;
    padding: 10px 20px;
    /* border: 1px solid yellow; */
}

.div-mainValidate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 7px;
    margin: 0 20px;
}

.validate-error {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    /* border: 1px solid red; */
}

.validate-error label {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 7px;
    color: #333;
    padding: 5px 20px;
}

/* btn validation */
.div-validateBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: auto;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 7px;

    /* border: 1px solid orangered; */
}

.div-validateBtn button {
    font-size: 1.0rem;
    font-weight: 600;
    background: rgba(17, 83, 72, 1);
    border: 1px solid rgba(17, 83, 72, 0.75);
    border-radius: 5px;
    box-shadow: 0 0 20px lightgrey;
    padding: 7px 20px;
    transition: 0.2s ease-in-out;
    transform: scale(1.0);
}

.div-validateBtn button:hover {
    background: rgba(17, 83, 72, 0.5);
    border: 1px solid rgba(17, 83, 72, 0.5);
    transform: scale(1.05);
}

.div-validateBtn button:active {
    background: rgba(17, 83, 72, 0.75);
    transform: scale(0.95);
    border: 1px solid rgba(17, 83, 72, 0.75);
}

.p-card-third {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;

    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(6, 128, 77);

    padding: 10px 40px;
    /* border: 1px solid orangered; */
}

.img-card {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    margin: auto;
    opacity: 0.6;
    z-index: -1;
}


/* btn close */
.div-closeBtn {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
    /* border: 1px solid #fff; */
}

.div-closeBtn button {
    font-size: 1.0rem;
    font-weight: 600;
    background: rgba(17, 83, 72, 1);
    border: 1px solid rgba(17, 83, 72, 0.75);
    border-radius: 5px;
    box-shadow: 0 0 20px lightgrey;
    padding: 7px 20px;
    transition: 0.2s ease-in-out;
    transform: scale(1.0);
}

.div-closeBtn button:hover {
    background: rgba(17, 83, 72, 0.5);
    border: 1px solid rgba(17, 83, 72, 0.5);
    transform: scale(1.05);
}

.div-closeBtn button:active {
    background: rgba(17, 83, 72, 0.75);
    transform: scale(0.95);
    border: 1px solid rgba(17, 83, 72, 0.75);
}

/* btn response */
.div-responseBtn {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
}

.div-responseBtn button {
    font-size: 1.0rem;
    font-weight: 600;
    background: rgba(17, 83, 72, 1);
    border: 1px solid rgba(17, 83, 72, 0.75);
    border-radius: 5px;
    box-shadow: 0 0 20px lightgrey;
    padding: 7px 20px;
    transition: 0.2s ease-in-out;
    transform: scale(1.0);
}

.div-responseBtn button:hover {
    background: rgba(17, 83, 72, 0.5);
    border: 1px solid rgba(17, 83, 72, 0.5);
    transform: scale(1.05);
}

.div-responseBtn button:active {
    background: rgba(17, 83, 72, 0.75);
    transform: scale(0.95);
    border: 1px solid rgba(17, 83, 72, 0.75);
}