.fullscreen-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 1);

    z-index: 100;
}

@keyframes ecogame {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.div-ecopotimg {
    width: 600px;
    height: 600px;
    margin: auto;
    animation-name: ecogame;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

    z-index: 110;
}

.ecopotGame {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    object-fit: cover;
}

.fullscreen-div button {
    position: absolute;
    font-size: 1.0rem;
    font-weight: 600;
    background: rgba(0, 0, 255, 0.2);
    border: none;
    border-radius: 7px;
    box-shadow: inset 0 0 10px rgba(211, 211, 211, 1);
    color: rgba(211, 211, 211, 0.5);
    padding: 15px 30px;

    transition: all 0.1s ease-in-out;
    transform: scale(1.0);
    z-index: 110;
}

.fullscreen-div button:hover {
    background: rgba(17, 83, 72, 1);
    box-shadow: 0 0 10px aqua;
    color: #f5f5f5;
    transform: scale(1.0);
}

.fullscreen-div button:active {
    background: rgba(0, 0, 255, 0.2);
    box-shadow: 0 0 0px lightgrey;
    color: rgba(211, 211, 211, 0.5);
    transform: scale(0.95);
}