.rules-div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(30deg, rgba(17, 83, 72, 0.6) 10%, rgba(17, 83, 72, 1) 50%, rgba(17, 83, 72, 0.6) 90%);
    border: none;
    border-radius: 7px;
    z-index: 55;
    transform: translate(-50%, -50%);
}

.rules-div h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #000;
    margin: 0;
    padding: 0;
}

.div-explanations li {

    text-align: justify;
    margin: 10px 40px;
}

.rules-div button {
    font-size: 1.2rem;
    font-weight: bold;
    background: rgb(46, 83, 255);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #333;
    padding: 10px 20px;
    transition: transform 0.25s ease-in-out, background 0.25s ease-in-out; 
    transform: scale(1.0);
}

.rules-div button:hover {
    background: rgb(46, 46, 200);
    transform: scale(1.05);
}

.rules-div button:active {
    background: dodgerblue;
    transform: scale(0.95);
}